@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Index.css" />
<div class="pfp-image"></div>
<div class="text-center">

    <h> ENCISA, AUMAR TRISTAN B.</h>
    <br />
    <h2>FROM THE BACHELOR OF SCIENCE IN INFORMATION TECHNOLOGY</h2>
    <br />
    <h3>BSIT-32E3</h3>
    <p> Welcome to My Website</p>
    <p>I do Streaming <a href="https://www.facebook.com/AumarGaming">Aumar Gaming</a></p>


</div>
