@{
    ViewData["Title"] = "SCHOOL";
}
<link rel="stylesheet" href="~/css/School.css" />
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 100px; /* Adjust the value as needed */
        font-size 50px;
    }

    th, td {
        border: 2px solid black;
        padding: 8px;
        text-align: center;
        background-color: lightblue;
    }

    th {
        background-color: #f2f2f2;
    }

    .salmon-bg {
        background-color: salmon;
        color: white;
    }

    /* Hover effect */
    tr:hover {
        background-color: lightblue;
    }
</style>
<div class="text-center">

    <h> LYCEUM OF ALABANG.</h>
    <h2>visit us at Km. 30 National Road Tunasan Muntinlupa City</h2>
    <br />
    <br />
    <br />
    <h3>MY SCHEDULE FOR IT ELECTIVE 3 </h3>

    <table>
        <tr>
            <th rowspan="2">Section</th>
            <th rowspan="2">Code</th>
            <th rowspan="2">Course Title</th>
            <th rowspan="2">Units</th>
            <th colspan="2">Asynchronous</th>
            <th colspan="2">Face to Face Time</th>
            <th rowspan="2">Teacher</th>
        </tr>
        <tr>
            <td class="salmon-bg">Day</td>
            <td class="salmon-bg">Time</td>
            <td class="salmon-bg">Day</td>
            <td class="salmon-bg">Time</td>
        </tr>
        <tr>
            <td>BSIT32E3</td>
            <td>ELEC323</td>
            <td>IT Elective 3</td>
            <td>3</td>
            <td>Thursday</td>
            <td>5:00pm-7:00pm</td>
            <td>Saturday</td>
            <td>1:00pm-4:00pm</td>
            <td>Prof. Alamo</td>
        </tr>
    </table>


</div>
